{% extends 'assignments/layout.html' %}

{% block content %} 

<br><br>
<div class="container bg-light ">
    <div class="col-lg-10 bg-light " >
        <div class="row  shadow p-3 mb-5  rounded" style="text-align: left;">
            <h1 style="text-align: center;">ASSIGNMENT</h1>
            <h4>Title : <strong>{{assignment.assignment.title}}</strong></h4>
            <br>
            <h4>Subject : <strong>{{assignment.assignment.subject}}</strong></h4>
            <br>
            <h4>Duedate : <strong>{{assignment.assignment.duedate}}</strong></h4>
            <br>
            <h4>Posted on : <strong>{{assignment.assignment.start_date}}</strong></h4>
            <br>
            <h4><strong>Description:</strong> {{assignment.assignment.description}}</h4>
        </div>


        <div class="row  shadow p-3 mb-5  rounded" style="text-align: left;">
            <h1 style="text-align: center;">ATTACHMENTS</h1>
            {% for attachment in assignment.assignment.get_attchments %}
                <img src="{{attachment.image.url}}" alt="attachment">
            {% endfor %}
        </div>
    </div>
</div>



<div class="row" >
    <div class="col-lg-6 justify-content-center">
        <br>
        <a href="{% url 'main:index' %}"><button style="border: 1px transparent;border-radius: 15px;"  type="button" class="btn link-button btn-primary">View ALL Assignments</button></a>
    </div>
    <div class="col-lg-6 justify-content-center">
        <br>
        {% if not assignment.submitted %}
        <a href="{% url 'main:submit' assignment.id %}"><button style="border: 1px transparent;border-radius: 15px;"  type="button" class="btn link-button btn-primary">Submit Your Solutions</button></a>
        {% else %}
        <a href="{% url 'main:single_solution' assignment.id %}"><button style="border: 1px transparent;border-radius: 15px;"  type="button" class="btn link-button btn-success">View Your Solutions</button></a>
        {% endif %}

    </div>
    
</div>

{% endblock %}