{% extends 'assignments/layout.html' %}

{% block content %} 

    


    <div class="container ">
        <div class="col-lg-6 bg-secondary  shadow p-3 mb-5  rounded" >
            <h1>Login</h1>


            <form method="POST" action="{% url 'main:logged_in' %}">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
                    {{ form.username }}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                    {{ form.password }}
                </div>

                
                
                <input class="btn btn-success w-75 btn-block" type="submit" value="login">
                <input type="hidden" name="next" value="{{ next }}">
            </form>
        </div>
    </div> 
    
<script>
    document.getElementById('id_username').classList.add('form-control');
    document.getElementById('id_password').classList.add('form-control');
</script>

{% endblock %}